/* Header underline text animation */
@keyframes ballMove {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(-100px);
  }
}


/*#34A1D5*/